= content_for :google_maps_js
%script{src: '//maps.google.com/maps/api/js?key=AIzaSyCXI3B3ZLleysOHstGloPRwD0rstGBJmyk'}
%script{src: '//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js'}